@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-Bold.woff2?v=3.11") format("woff2"),
    url("/fonts/SpaceGrotesk-Bold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-SemiBold.woff2?v=3.11") format("woff2"),
    url("/fonts/SpaceGrotesk-SemiBold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-Medium.woff2?v=3.11") format("woff2"),
    url("/fonts/SpaceGrotesk-Medium.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-Regular.woff2?v=3.11") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-Light.woff2?v=3.11") format("woff2"),
    url("/fonts/SpaceGrotesk-Light.woff?v=3.11") format("woff");
}
